.app {
  height: 100vw;
}

.Side-bar {
  text-align: center;
  height: 850px;
  border: 1px solid red;
}

.nav-bar {
  border: 2px solid blue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  width: 230px;
  height: 850px;
  position: fixed;
  right: 0;
  margin-right: 40px;
}

.nav-list{
  display: relative;
  margin-top: -500px;
}

.list-items {
  padding-top: 5px;
  cursor: pointer;
  
}

.player {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}